[submodule "helix"]
	path = helix
	url = https://github.com/KRGTheOnly/helix
[submodule "fish"]
	path = fish
	url = https://github.com/KRGTheOnly/fish
[submodule "zellij"]
	path = zellij
	url = https://github.com/KRGTheOnly/zellij
[submodule "bspwm"]
	path = bspwm
	url = https://github.com/KRGTheOnly/bspwm
[submodule "sxhkd"]
	path = sxhkd
	url = https://github.com/KRGTheOnly/sxhkd
[submodule "kitty"]
	path = kitty
	url = https://github.com/KRGTheOnly/kitty
[submodule "lf"]
	path = lf
	url = https://github.com/KRGTheOnly/lf.git
[submodule "ulauncher"]
	path = ulauncher
	url = https://github.com/KRGTheOnly/ulauncher.git
